<mat-card class="blacks" >    
  <!-- Title of an Card -->    
  <mat-card-title class="text-center">    
  </mat-card-title>

<div class="container text-center"> <!-- หัวหลัก -->   
      <div class="row">
        <mat-card class="text-center"><!-- ช่องแรก -->   
          <mat-card-title class="text-center">    
               สมัครสมาชิก
          </mat-card-title>
           <mat-form-field appearance="outline">
              <mat-label>ชื่อสมาชิก</mat-label>
              <input matInput placeholder="username">
            </mat-form-field><br>
            <mat-form-field appearance="outline">
              <mat-label>รหัสผ่าน</mat-label>
              <input matInput placeholder="password">
            </mat-form-field><br>
            <button mat-raised-button color="accent">เข้าสู่ระบบ</button>
        </mat-card> 
    </div> 
 </div>
</mat-card>
