@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';    

mat-card {    
    max-width: 95%;    
    margin: 3em auto;    
    align-items: center;
} 
.col{
  margin: 7px;
}

.mat-form-field{
  width: 8.4cm;
  height: 1cm;
  padding: 20px;
}

button {
   height: 2cm;
   width: 3.5cm;
}








